body {
  margin: 0;
  font-family: "Tahoma", sans-serif;
}
header {
  text-align: center;
}
header img {
  margin: 10px;
}
.menu {
  border-top: #000 solid 2px;
}
.menu ul {
  width: 800px;
  margin: 10px auto 20px;
  padding-left: 0;
}
.menu li {
  display: inline;
  padding: 2px 50px;
  border-right: #000 solid 1px;
}
.menu li:last-child {
  border: none;
}
.menu a {
  text-decoration: none;
  color: rgb(210, 210, 210);
}

.menu li:first-child a{
  color: #000;
}
main {
  width: 1000px;
  margin: 10px auto;
}

.principal {
  width: 670px;
  float: left;
}
.principal h3 {
  margin: 0;
  padding: 5px;
  background-color: rgb(36, 36, 36);
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.principal img:first-child {
  width: inherit;
}
.col2 {
  width: 330px;
  height: 220px;
}
.lateral {
  width: 330px;
  float: left;
}

.lateral div {
  background-color: rgb(201, 201, 201);
  padding: 30px;
}

.lateral h3 {
  color: #fff;
  margin: 0;
  letter-spacing: 1px;
  font-weight: normal;
}

.lateral p {
  color: rgb(54, 54, 54);
  line-height: 1.5em;
  border-bottom: 1px dotted #fff;
  padding-bottom: 30px;
}
.lateral img {
  width: inherit;
}

.read-more {
  color: #fff;
  text-decoration: none;
}
.read-more::after {
  content: ' >';
  color: #000;
  float: right;
}
.contacts {
  text-align: center;
}
.contacts a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
}
.contacts h4 {
  border-top: 1px dotted #fff;
  padding-top: 15px;
  font-size: 1.2em;
  margin: 20px 0 0 0;
}
footer {
  clear: left;
  border-top: 2px solid #000;
}

footer li{
  display: inline;
  font-size: 0.8em;
}
footer ul{
  width: 1000px;
  margin: 10px auto;
}

footer ol {
  display: inline;
  padding-left: 0;
}

footer ul li{
  margin-right: 120px;
}

footer ol li{
  border-right: 1px solid #000;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0 30px;
}

footer ol li:last-child{
  border-right: none;
}

.media a{
  color:#fff;
  background-color: #000;
  border-radius: 50%;
}

.fa{
  padding: 3px;
  width: 10px;
  height: 10px;
}